main
{
    max-width: 100vw;
    min-height: 100vh; 
}

body
{
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    max-width: 100vw;
    min-height: 75vh;

    display: inline-block;
}

.fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.fondo
{
    background-image: url("../Imagenes/DiaNY.jpg");
    background-color: #ab925c;
    
    min-width: 100vw;
    min-height: 75vh; 

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}   

footer
{
    max-width: 100vw;
    min-height: 25vh;

    background-color: #8a9ab8;

    display: flex;
}

.dominio
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;

    padding-right: 10px;
    color: black;
    font-size: 15px;
}

#promocion, .dominio
{
    border-top: 2px solid #9fbdf5;
}

#promocion
{
    max-height: 25vh;
    flex-grow: 5;
    color: white;
    display: flex;
    justify-content: center;
}

.oferta
{
    border: 2px solid #9fbdf5;
    border-radius: 20px;
    flex-grow: 1;

    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background-position: center center;
	background-size: cover;
    animation-name: carusel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes carusel
{
    0%   {background-image: url("../Imagenes/OfertaParis.jpg");}
    25%  {background-image: url("../Imagenes/OfertaOsaka.jpg");}
    50%  {background-image: url("../Imagenes/OfertaPraga.jpg");}
    75%  {background-image: url("../Imagenes/OfertaSantorini.jpg");}
    100% {background-image: url("../Imagenes/OfertaParis.jpg");}
}

img
{
    position: relative;
}

nav
{
    position: relative;
}

ul
{
    display: flex;
    gap: 10px;
    list-style: none;

    margin-top: 10px;
}

li
{
    text-align: center;
    flex-basis: 80px;

    font-size: 15px;
}

li:last-child
{
    flex-basis: 120px;   
}

nav li a:hover
{
    color: #f5c04c;
    background-color: #ab925c;
    text-decoration: underline;
}

a
{
    border-radius: 60px;
    text-decoration: none;
    color: white;

    transition:all .3s ease-in-out;

    padding: 10px;
}

.logotipo
{
    display: inline-flex;

    margin-top: 10px;
    margin-left: 10px;
}

#formulario
{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

form
{
    position: relative;

    display: flex;
    flex-direction: row;

    border-radius: 15px;
    background-color: #ab925c;

    padding: 10px;
}

.boton
{
    flex-grow: 0.7;
    height: 7vh;
    border-radius: 30px;

    background-color: #f5c04c;
}

form div
{
    color: #f5c04c;
    position: relative;

    display: flex;
    text-align: center;
}

label
{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

h1
{
    color: #ab925c;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1300px) 
{
    #formulario form div
    {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 980px) 
{
    #formulario 
    {
        margin-top: 20px;
    }

    #formulario form
    {
        display:inline;
    }

    #formulario form div 
    {
        padding-top: 5px;
    }

    #formulario form div:nth-child(5), #formulario form div:nth-child(6), #formulario form div:nth-child(7)
    {
        display: flex;
        justify-content: center;
    }

    nav ul li
    {
        flex-grow: 1;
    }
}

@media screen and (max-width: 720px)
{
    .fondo
    {
        background: url("../Imagenes/AtardecerNY.jpg");
        background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    position: relative;
    }
    
    .logotipo
    {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .logotipo h1
    {
        display: none;
    }

    footer
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) 
{
    nav ul
    {
        gap: 0;
        padding-left: 0px;
    }
}